@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: black;
  font-family: 'Pixelify Sans', sans-serif;
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

.name {
  font-size: 50px;
  text-decoration: underline;
  text-shadow: 2px 2px 2px rgb(250, 128, 114);
  padding-top: 0;
  margin-top: 0;
  text-transform: uppercase;
  color: rgb(0, 102, 255);
}

#game-screen {
  margin-top: 150px;
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(img/background.gif);
  background-size: cover;
}

h2 {
  position: relative;
  left: 350px;
}

#game-end h1 {
  color: blue;
  font-size: 50px;
  position: relative;
  left: 1600px;
}

p {
  font-size: 30px;
  position: relative;
  left: 350px;
}

#game-end {
  display: none;
}

#start-button {
  border-radius: 20px;
  height: 50px;
  background: linear-gradient(red, blue, red);
  color: rgb(0, 0, 0);
  transition: all 1000ms;
}

#start-button:hover {
  color: black;
  background: linear-gradient(blue, red, blue);
}

#restart-button {
  position: relative;
  right: 540px;
  top: 920px;
  border-radius: 20px;
  height: 50px;
  background: linear-gradient(red, blue, red);
  color: rgb(0, 0, 0);
  transition: all 1000ms;
}

#timer-display {
  font-family: 'Protest Strike', sans-serif;
  ;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}


.capturado {
  margin-left: 900px;
}