body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
  }
  
  #game-intro {
    padding: 20px 0px;
  }
  
  #game-container {
    display: flex;
    width: 100vw;
    padding: 20px 0px;
    justify-content: center;
  }
  .name {
    text-shadow: 2px 2px 2px rgb(250, 128, 114);
    padding-top: 0;
    margin-top: 0;
    text-transform: uppercase;
    color: rgb(29, 250, 0);
    background: linear-gradient(white, black);
  }
  #game-screen {
    margin-top: 150px;
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(img/background.gif);
    background-size: cover;
  }

  h2 {
    position: relative;
    left: 350px;
  }

  p {
    font-size: 30px;
    position: relative;
    left: 350px;
  }

  #game-end {
    display: none;
  }
  #start-button {
    border-radius: 20px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: all 500ms;
  }
  #start-button:hover {
    color: black;
    background-color: white;
  }